<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <h1>Home Page</h1>
  

<div class = "container">

    
    <%- include('views/header.ejs')%>
    
    <%- body %>

    <%- include('views/footer.ejs')%>
    </div>













  
  <script src="server.js" ></script>
</body>
</html>